body{
    font-family:'Poppins',sans-serif;
    background:#eae6df;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

/* MAIN CONTAINER */

.signup-container{
    width:420px;
    border-radius:16px;
    overflow:hidden;
    box-shadow:0 20px 40px rgba(0,0,0,0.15);
    position:relative;
}

/* FORM SECTION */

.form-section{
    width:100%;
    background:#f4f1ec;
    padding:35px;
}

.logo{
    width:70px;
    margin-bottom:10px;
}

h2{
    margin-bottom:5px;
}

.subtitle{
    font-size:14px;
    color:#666;
    margin-bottom:20px;
}

/* INPUTS */

.input-group{
    margin-bottom:12px;
}

.input-group label{
    font-size:13px;
    font-weight:500;
}

.input-group input{
    width:100%;
    padding:9px;
    border-radius:6px;
    border:1px solid #ccc;
    margin-top:4px;
}

/* BUTTON */

.signup-btn{
    width:100%;
    padding:11px;
    background:#b08a57;
    color:white;
    border:none;
    border-radius:8px;
    font-weight:600;
    margin-top:10px;
    cursor:pointer;
}

.signup-btn:hover{
    background:#9a7647;
}

/* CLOSE BUTTON */

.close-btn{
    position:absolute;
    top:12px;
    right:18px;
    background:none;
    border:none;
    font-size:22px;
    cursor:pointer;
    color:#555;
    transition:0.3s;
}

.close-btn:hover{
    color:#000;
    transform:scale(1.2);
}