body {
    margin: 0;
    padding: 0;
    font-family: Poppins, sans-serif;
    background: #f2f2f2;
}

.container {
    display: flex;
    height: 100vh;
}

.form-box {
    width: 40%;
    background: white;
    padding: 60px 50px;
    box-shadow: 0 0 20px #ddd;
}

.form-box h2 {
    font-size: 32px;
    margin-bottom: 10px;
}

.subtitle {
    color: #777;
    margin-bottom: 30px;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
}

.input-group input {
    width: 95%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 15px;
}

.btn {
    width: 100%;
    padding: 14px;
    background: #ff6600;
    border: none;
    color: white;
    font-size: 18px;
    border-radius: 10px;
    margin-top: 10px;
    cursor: pointer;
}

.btn:hover {
    background: #e65300;
}

.login-link {
    margin-top: 20px;
    text-align: center;
}

.login-link a {
    text-decoration: none;
    color: #ff6600;
    font-weight: bold;
}

.right-banner {
    width: 60%;
    background: url("https://images.pexels.com/photos/106399/pexels-photo-106399.jpeg") 
                no-repeat center center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.right-banner h1 {
    font-size: 50px;
    text-shadow: 2px 2px 10px black;
    text-align: center;
}
